<!-- <div class="bg-primary text-primary-contrast border-primary-500">Content</div>
<div class="bg-surface-50 dark:bg-surface-900 text-surface-900 dark:text-surface-0 border-surface-200 dark:border-surface-700">Content</div>
<div class="card flex justify-center">
  <p-button label="Check" />
</div>

-->
<!-- <p-toggleswitch [(ngModel)]="checked1"/> -->
<!-- <div class="card flex">
  DEFAULT UPLOADER: 
  <p-toggleswitch [(ngModel)]="checked" (change)="eventHandler(checked)" [dt]="amberSwitch"/> 
</div> -->
<form [formGroup]="form">
  <app-p-file-upload
    [acceptFile]="'image/*'"
    [selectedRatio]="4/3"
    [aspectRatios]="[
      { label: '1:1', value: 1 / 1 },
      { label: '16:9', value: 16 / 9 },
      { label: '4:3', value: 4 / 3 }
    ]"
    [supportedFormats]="[
      { label: 'PNG', value: 'png' },
      { label: 'JPEG', value: 'jpeg' },
      { label: 'WEBP', value: 'webp' }
    ]"
    [customUpload]="false"
    [freeTransform]="false"
    [selectedFormat]="'jpeg'"
    [maxFileSize]="10000000"
    [multipleUpload]="false"
    formControlName="imageFile"
    (onFileUpload)="getImage($event)"
  ></app-p-file-upload>
</form>

<!-- <p-button label="Get File" (click)="getFile()"/> -->
<router-outlet />


<!-- <app-intl-tel-input></app-intl-tel-input> -->
<!-- <app-intl-input></app-intl-input> -->
