<!-- <div class="bg-primary text-primary-contrast border-primary-500">Content</div>
<div class="bg-surface-50 dark:bg-surface-900 text-surface-900 dark:text-surface-0 border-surface-200 dark:border-surface-700">Content</div>
<div class="card flex justify-center">
  <p-button label="Check" />
</div>

<p-toggleswitch [(ngModel)]="checked1"/>
<p-toggleswitch [(ngModel)]="checked2" [dt]="amberSwitch"/> -->

<!-- <app-intl-tel-input></app-intl-tel-input> -->
<!-- <app-intl-input></app-intl-input> -->
<router-outlet />
