<div class="card flex justify-center items-center h-screen">
   <div class="card p-4 bg-gray-50 border border-gray-200 rounded m-4 w-8/12 h-100 shadow-lg shadow-gray-500/50 dark:shadow-lg dark:shadow-gray-800/80">
      <h2 class="text-md font-bold  mb-4">Signup</h2>
      <div class="flex flex-col w-full sm:w-auto">
         <div class="flex flex-col sm:flex-row sm:items-center gap-6 mb-3">
            <div class="flex-1">
               <label for="firstname" class="block text-xs font-semibold mb-2">First Name</label>
               <input type="text" pInputText id="firstname" class="w-full" />
            </div>
            <div class="flex-1">
               <label for="lastname" class="block text-xs font-semibold mb-2">Last Name</label>
               <input type="text" pInputText id="lastname" class="w-full" />
            </div>
         </div>
         <div class="flex flex-col sm:flex-row sm:items-center gap-6  mb-3">
            <div class="flex-1">
               <label for="email" class="block text-xs font-semibold mb-2">Email</label>
               <input type="email" pInputText id="email" class="w-full" />
            </div>
            <div class="flex-1">
               <label for="Contact" class="block text-xs font-semibold mb-2">Contact</label>
               <input type="tel"
                  [formControl]="phone"
                  pInputText
                  ngxPhoneField
                  [ngxPhoneFieldParams]="params"
                  validationNumberType="true"
                  id="Contact" class="w-full"
               />
               @if(!phone.pristine && phone.invalid) {
                  <p class="text-red-400 mt-1 font-medium text-xs mb-none">Please enter a valid number</p>
               }
            </div>
         </div>
         <div class="flex flex-col sm:flex-row sm:items-center gap-6  mb-3">
            <div class="flex-1">
               <label for="date" class="block text-xs font-semibold mb-2">Date</label>
               <p-datepicker inputId="date" class="w-full grid" />
            </div>
            <div class="flex-1">
               <label for="country" class="block text-xs font-semibold mb-2">Country</label>
               <p-select [options]="countries" optionLabel="name" class="w-full"
                  [formControl]="selectedCountry">
                  <ng-template #selectedItem>
                     <div class="flex items-center gap-2" *ngIf="selectedCountry.value">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                           [class]="'flag flag-' + selectedCountry.value['iso2']"
                           style="width: 18px"
                        />
                        <div>{{ selectedCountry.value['name'] }}</div>
                     </div>
                  </ng-template>
                  <ng-template let-country #item>
                     <div class="flex items-center gap-2">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                           [class]="'flag flag-' + country.iso2"
                           style="width: 18px"
                        />
                        <div>{{ country.name }}</div>
                     </div>
                  </ng-template>
               </p-select>
               @if(selectedCountry.touched && selectedCountry.invalid) {
                  <p class="text-red-400 mt-1 font-medium text-xs mb-none">Please select a country</p>
               }

            </div>
         </div>

         <div class="flex flex-col sm:flex-row sm:items-center gap-6 mb-3">
            <div class="flex-1">
               <label for="country" class="block text-xs font-semibold mb-2">Postal Code</label>
               <p-autocomplete
                  class="w-full grid" 
                  [formControl]="selectedAddress"
                  [suggestions]="filteredAddresses"
                  (completeMethod)="filterAddress($event)"
                  optionLabel="name"
               >
                  <ng-template let-address #item>
                     <div class="flex items-center gap-2">
                        <div>{{ address }}</div>
                     </div>
                  </ng-template>
               </p-autocomplete>
               @if(!selectedAddress.pristine && selectedAddress.invalid) {
                  <p class="text-red-400 mt-1 font-medium text-xs mb-none">Please enter a valid postal code</p>
               }
            </div>
            <div class="flex-1">
               <input type="tel" hidden pInputText />
            </div>
         </div>
         <div class="flex-auto mb-3">
            <label for="message" class="block text-xs font-semibold mb-2">Message</label>
            <textarea pTextarea id="message" class="w-full focus:outline-none focus:border-primary-300 focus:border-1 focus:ring-1 focus:ring-primary-100
            text-sm text-gray-base mr-3 py-5 px-4 border border-gray-300 rounded" rows="4"></textarea>
         </div>
         <div class="flex-auto">
            <p-button label="Submit" [disabled]="true" class="text-xs font-medium text-center" />
         </div>
      </div>
   </div>
</div>